header{
	background-image: url(images/background-header.jpg);
	background-size:1920px 148px;
	font-family: arial;
	text-align: center;
}
.nome{
	margin-bottom: 15px;
	margin-top: 0;
	color: black;
}
body{
	background-image: url(images/background-body.jpg);
	background-size: 1920px 1080px;
}
h2{
	text-decoration: underline;
	font-family: arial;
}
li{
	list-style: none;
}
.topico{
	list-style: circle;
}
