header{
	font-family: verdana;
	text-align: center;
}
body{
	background-color: lightslategray;
	font-family: verdana;
}
.nome{
	margin-bottom: 15px;
	margin-top: 0;
	color: black;
}
h2{
	text-decoration: none;
	font-family: verdana;
	padding-top: 15px;
}
li{
	list-style: none;
}
.topico{
	list-style: circle;
	list-style-position: inside;
}
.description{
	background-color: white;
	text-align: center;
	margin: 0;
}
.linha{
	width: 50%;
	border-bottom: 1px solid;
	border-color: lightgray;
	margin: auto;
}